@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap');

body{
    background: #352f5b;
    font-family: 'Open Sans', sans-serif;

}
h1{
    font-weight: 700;
}
.container{
    max-width: 400px;
}

input[type=text],
input[type=text]:focus{
    font-weight: 600;
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.space{
    margin-top: 10px;
}

.todos li{
    background: #423a6f;
    margin-bottom: 5px;
}

.filtered{
    display: none !important;
}
.delete{
    cursor: pointer;
}